<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<html class="no-js" manifest="cache.manifest">-->
<html class="no-js" ng-app="tasks-trainingApp">
<!--<![endif]-->

<head>
    <title data-ng-bind="'tasks-training - ' + $state.current.name"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/css/styles.css -->
    <!-- include: "type": "css", "files": "<%= css %>" -->

    <!-- /include -->
    <!-- endbuild -->
</head>

<!--Include the module with the app scope-->

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 10]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/es5-shim/es5-sham.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <script src="bower_components/placeholders/dist/placeholders.min.js"></script>
    <![endif]-->

    <!-- HEADER/NAVIGATION BAR
     This is the unnamed root, aka index.html
     You can place here your components in the ui-view points.
    -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- ui-sref is a directive from ui-router for linking a state location with an anchor link.
                 We should almost always use ui-sref instead of href on our links when we want
                 then to navigate to a state. When this link is clicked it will take the application
                 to the 'home' state. Behind the scenes the directive also adds the correct href attr
                 and url. -->
            <a class="navbar-brand" ui-sref="home">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- Here you can see ui-sref in action again. Also notice the use of $state.includes, which
                 will set the links to 'active' if, for example on the first link, 'contacts' or any of
                 its descendant states are activated. -->
                <li data-ng-class="{ active: $state.includes('home') }">
                    <a angular-ripple ui-sref="home"><i class="glyphicon glyphicon-home"></i> Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper" class="container-fluid mainview toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <span class="text">Sidebar Title</span>
                    </a>
                </li>
                <li data-ng-class="{ active: $state.includes('home') }">
                    <a angular-ripple="" ui-sref="home"><i class="glyphicon glyphicon-home"></i> Home</a>
                </li>
            </ul>
            <a href="#menu-toggle" angular-ripple="" class="btn btn-primary menu-toggle" id="menu-toggle">
                <i class="glyphicon glyphicon-triangle-left"></i>
            </a>

            </div>
        <!-- /#sidebar-wrapper -->
        <!-- MAIN INSERTION POINT
            Here is the main ui-view (it is unnamed) as the main content insertion point.
            It replaces the default Angular's ng-view directive.
        -->
        <div ui-view="" class="fade-in" autoscroll="false"></div>
    </div>
    <!-- build:js main.js -->
    <!-- bower:js -->
    <!-- endbower -->

    <!-- include: "type": "js", "files": "<%= scripts %>" -->
    <!-- /include -->
    <!-- endbuild -->
</body>

</html>