<!DOCTYPE html>
<div class="container-fluid" ng-controller="homeController">
 <div class="jumbotron home">
        <h1>{{greeting}} to 'tasks-training' </h1>
        <p>Your project is ready.</p>
  </div>

   <div class="text-center">
    <p><b> Thank you for using AppVerse. </b></p>
     <p>Check <a ng-href="https://appverse.gftlabs.com/showcase-html5/#/home">Appverse showcase </a> for some demos</p>
  </div>
      <div class="text-center col-md-4 col-md-offset-4">

        <ul class="list-inline">
            <li><a angular-ripple href="http://appverse.org/">Appverse.org</a>
            </li>
            <li><a angular-ripple href="https://twitter.com/appversed">Twitter</a>
            </li>
            <li><a angular-ripple href="https://github.com/Appverse">GitHub</a>
            </li>
            <li><a angular-ripple href="https://www.npmjs.com/~appverse">NPM</a>
            </li>
        </ul>
    </div>
</div>
